@import url("https://fonts.googleapis.com/css2?family=Bevan&family=Titillium+Web&family=Zen+Dots&display=swap");
@import url("https://fonts.cdnfonts.com/css/monkirta-pursuit-nc");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-dark: #001011;
  --primary-color: #1e75e7;
  --primary-accent: #64e9ee;
} */

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-TitilliumWeb;
  }

  li {
    @apply p-4 text-sm;
  }

  button {
    @apply px-4 py-2 border bg-gradient-to-r from-PrimaryColor to-PrimaryAccent text-white;
  }

  h2 {
    @apply text-xl font-bold;
  }
}
